@font-face {
    font-family: 'CeraGR';
    src: url('CeraGR-Black.woff2') format('woff2'),
        url('CeraGR-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CeraGR';
    src: url('CeraGR-Bold.woff2') format('woff2'),
        url('CeraGR-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CeraGR';
    src: url('CeraGR-Medium.woff2') format('woff2'),
        url('CeraGR-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'CeraGR';
    src: url('CeraGR-Light.woff2') format('woff2'),
        url('CeraGR-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

